html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Nav bar */

.nav {
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 10;
}

.logo img { 
    max-width: 15px; 
    margin: 10px;
    margin-left: 25px;
}

.logo img:hover {
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

.tiles {
    display: flex;
    justify-content: space-around;
}

.tile {
    padding: 15px;
    letter-spacing: 3px;
}

/* Main Screen */

.brands {
    display: flex;
}

.brand {
    height: 100vh;
    flex: 1;
    transition: all 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.brand_hover:hover {
    flex: 2;
}

.brand .img {
    opacity: 1;
    flex: 10;
    height: 50%;
    display: flex;
    will-change: opacity;
    align-items: center;
    justify-content: center;
    transform: scale(.75);
    transition: all 2s, opacity 1s;
    padding: 10px;
}

.brand_hover:hover .img { 
    transform: scale(1); 
}

.brand_hover:hover .img img {
    filter: drop-shadow(0 0 50px rgba(255, 255, 255, .65));
}

.brand .img img {
    height: 75%;
}

.brand .title {
    opacity: 1;
    flex: 1;
    font-size: 1.5em;
    letter-spacing: 4px;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    transition: all 1s;
}

.brand_hide {
    flex: 0;
}

.content_hide .img, .content_hide .title { 
    display: none;  
}

.content_fade .img, .content_fade .title { 
    opacity: 0; 
}

.brand_selected {
    flex-flow: row;
}

.brand_selected > .img, .brand_selected > .title {
    animation: brandselected 1.5s;
    animation-fill-mode: forwards;
}

@keyframes brandselected {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.brand_selected .img {
    flex: 1;
    transform: scale(1.5);
}

.brand_selected .title {
    flex: 1;
    margin: 15px;
}

.brand_selected #more_phones {
    flex: 2;
}

.change_order .title {
    order: -1;
}

.brand1 { 
    background: rgb(0,18,255);
    background: linear-gradient(0deg, rgba(0,18,255,0.3563218390804598) 9%, rgba(193,100,194,0.5908045977011493) 100%);    
}

.brand2 { 
    background: rgb(155,0,255);
    background: linear-gradient(0deg, rgba(155,0,255,0.24827586206896557) 9%, rgba(245,122,40,0.5908045977011493) 100%);
}

.brand3 { 
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(67,111,255,0.5908045977011493) 0%, rgba(255,255,255,0.31264367816091954) 100%);
}

.more_btn, .btn {
    padding: 10px;
    margin: 10px;
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1vw;
    cursor: pointer;
}

.more_btn:hover, .btn:hover {
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.3);
}

.btn {
    align-self: center;
    justify-self: center;
}

.flex_column {
    display: flex;
    flex-flow: column;
}

.info_display {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    align-content: center;
    justify-content: space-evenly;
    font-size: 1.2vw;
    animation: infodisplay .3s;
}

@keyframes infodisplay {
    from {
        transform: translateY(100%);
    } to {
        transform: translateY(0%);
    }
}

.info_box {
    border: 6px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 10px;
    margin: 8px;
    color: rgba(5, 5, 177, 0.596);
    text-align: center;
    display: flex;
    align-items: center;
}

.spec_type {
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    padding: 2px;
}

.spec_word {
    background: rgba(0, 0, 0, .15);
    border-radius: 5px;
}

.models {
    animation: models .5s;
    display: flex;
    /* overflow: scroll; */
    overflow: hidden;
    width: 50vw;
    height: 50vh;
    opacity: .5;
    z-index: 5;
    transition: opacity .7s linear;
}

.models::-webkit-scrollbar { 
    display: none;  
}

.models:hover {
    opacity: 1;
    transition: opacity .3s linear;
}

@keyframes models {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

@keyframes modelshover {
    from {
        opacity: 0.5;
    } to {
        opacity: 1;
    }
}

.model {
    flex: 1;
    height: 50vh;
    padding: 10px;
    margin: 30px;
}

.model img {
    height: 75%;
    pointer-events: none;
    user-select: none;
}

.title_modified {
    animation: titlemodified 1s;
}

@keyframes titlemodified {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0%);
    }
}

.next_model {
    animation: nextmodel 1s;
}

@keyframes nextmodel {
    from {
        transform: translateX(100%);
    } to {
        transform: translateX(0%);
    }
}

.next_model_selected {
    animation: nextmodelselected 1s;
    animation-fill-mode: initial;
}

@keyframes nextmodelselected {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
/* 
.arrow_effect {
    width: 30vw;
    height: 25vh;
    position: absolute;
    top: 40vh;
    animation: arroweffect 3s infinite;
    background: rgba(255, 255, 255, 1);
    opacity: 0.3;
    border-top-right-radius: 100%;
    border-bottom-right-radius: 100%;
}

@keyframes arroweffect {
    from {

    } to {
        transform: translateX(200%);
        opacity: 1;
    }
} */
/* 
.next {
    position: fixed;
    height: 100vh;
    width: 30vw;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, .75) 100%); 
    right: 0;
    font-size: 100px;
    color: white;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 1);
    opacity: 0;
    z-index: 1;
}

.models:hover .next {
    opacity: 1;
} */

.tile {
    display: flex;
    flex-flow: column;
}

.tile_title {
    cursor: default;
}

.tile_container {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    opacity: 0;
    top: 15px;
}

.tile_content {
    flex: 1;
    padding: 10px;
}

.trigger-enter .tile_container {
    display: flex;
}

.trigger-enter-active .tile_container {
    opacity: 1;
}

.dropdownBackground {
    position: absolute;
    z-index: 5;
    will-change: transform;
    transition: all .5s;
    border-radius: 5px;
    opacity: .75;
}

.dropdownBackground.dropdown_open {
    background: white;
}